/*banner start*/
.banner{
  height: 500px;
  background-color: #011329;
}
.b_text img{
  position: absolute;
  height: 250px;
  top: 125px;
}
.b_text{
  position: relative;
}
.b_video{
  position: relative;
}
.b_video video{
  position: absolute;
  height: 500px;
  z-index: ;
}
.b_video img{
  display: fixed;
  position: absolute;
  height: 500px;
  top: 0px;
  right: 273px;
  z-index: 2;
}

/*banner end */

/*success start*/
.success{
  margin-top: 90px;
}
.success h4{
  font-size: 30px;
    color: var(--contentColor);
    font-weight: 800;
    text-align: center;
}
.s_success{
  height: 180px;
  text-align: center;
}
.s_success h2{
  font-size: 75px;
    color: var(--contentColor);
    font-weight: 800;
    text-shadow: 5px 5px 6px #525252;
}
.s_success p{
  font-size: 20px;
    color: var(--contentColor);
    font-weight: 500;
}
.bo{
  border-left: 4px solid var(--contentColor);
  border-right: 4px solid var(--contentColor);
}
/*success end*/
/*guidance start*/
.guidance{
  margin-top: 50px;
}
.title1{
  background-color: #d9d9d9;
}
.title2{
  background-color: #f5f5f8;
}
.guidance h1{
    padding: 10px 0px;
    font-size: 40px;
    color: #011329;
    font-weight: 800;
    text-align: center;
}
.title2{
  padding-top: 15px;
  font-size: 20px;
    color: var(--contentColor);
    font-weight: 500;
    text-align: center;

}
/*guidance end*/
/*consulting start*/
.consulting{}
.consulting h1{
      padding: 10px 0px;
    font-size: 40px;
    color: #011329;
    font-weight: 800;
}
.con_img{}
.con_img p{
  font-size: 25px;
     color: var(--contentColor); 
    font-weight: 500;
}
.con_img img{}
.con_text{
  padding:30px 20px;
  background-color: #f5f5f8;
}
.con_text h2{
    font-size: 29px;
    color: var(--contentColor);
    font-weight: 800;
    border-bottom: 5px solid #bc9c22;
}
.con_text p{
  font-size: 25px;
     color: var(--contentColor); 
    font-weight: 500;
}
.con_text p i{
  padding-right: 20px;
  font-size: 30px;
  color: #bc9c22;
}
/*consulting end*/
/*leading start*/
.leading{
  background-color: #d5d5d5;
  padding: 40px 0px;
  margin: 48px 0px;
}
.leading h2{
  font-size: 35px;
  color: var(--contentColor);
  font-weight: 800;
  text-align: center;
}
.leading p{
    font-size: 25px;
    color: var(--contentColor);
    font-weight: 500;
    text-align: center;
    text-rendering: optimizeLegibility;
    word-break: break-all;
}
/*leading end*/
/*media start*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  
  .s_card {
    margin-bottom: 30px;
  }
  .success{
    margin-top: 50px;
  }
  
  .leading h2 {
    font-size: 24px;
  }
  .leading p {
    font-size: 23px;
  }
  
  .guidance h1{
    font-size: 20px;
  }
  .title2{
    font-size: 16px;
  }
  .consulting h1 {
    font-size: 29px;
    padding: 0px 15px;
  }
  .con_img p {
    font-size: 18px;
  }
  .con_text h2 {
    font-size: 25px;
  }
  .con_img img{
    padding: 20px 30px;
  }
  .con_text p {
    font-size: 15px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  
  .leading h2 {
    font-size: 30px;
  }
  .leading p {
    font-size: 23px;
  }
  .success{
    padding-top: 0 !important;
  }
  .s_success h2 {
    font-size: 50px;
  }
  .s_success p {
    font-size: 18px;
  }
  
  .guidance h1{
    font-size: 20px;
  }
  .title2{
    font-size: 16px;
  }
  .consulting h1 {
    font-size: 35px;
  }
  .con_img p {
    font-size: 20px;
  }
  .con_text h2 {
    font-size: 25px;
  }
  .con_img img{
    padding: 20px 50px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

  .s_success h2 {
    font-size: 60px;
  }
  .s_success p {
    font-size: 18px;
  }
  .guidance h1{
    font-size: 25px;
  }
  .title2{
    font-size: 18px;
  }
  
  .con_img p {
    font-size: 20px;
  }
  .con_text p {
    font-size: 18px;
  }
  .con_text h2 {
    font-size: 25px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/*Extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .angle {
    left: 507px;
  }
  .s_card {
    height: 370px;
  }
}

/*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  .banner {
    height: 410px;
  }
  .angle {
    left: 608px;
    rotate: 9deg;
    height: 348px;
  }
  .s_card h2 {
    font-size: 32px;
  }
  
}