:root{
  --green:#579b8e;
}
/*banner start*/

/*banner end */
/*loreal start*/
.loreal{
  background-color: #d5d5d5;
  padding: 50px 0px;
}
.s_loreal{
/*  padding: 0px 60px  0px 0px;*/
}
.s_loreal h1{
  padding-bottom: 10px;
  font-size: 30px;
  color: var(--green);
  font-weight: 800;
}
.s_loreal p{
  font-size: 20px;
  color: var(--contentColor);
  font-weight: 500;
  text-align: justify;
  text-rendering: optimizeLegibility;
  word-break: break-all;
}
.sloreal{
/*  padding: 20px;*/
  background-color: #d5d5d5;
}
/*loreal end*/
/*common start*/
.common{}
.common h1{
  font-size: 30px;
  color: var(--green);
  font-weight: 800;
}
.common p{
  font-size: 20px;
  color: var(--contentColor);
  font-weight: 500;
}
.common ul li{
  font-size: 25px;
  color: var(--contentColor);
  font-weight: 800;
}
/*common start*/

/*media start*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .banner_text h1 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
  }
  .banner_text p {
    font-size: 18px;
    text-align: center;
  }
  .brow {
    padding-top: 50px;
  }
  .loreal {
    padding: 60px 0px;
  }
  .s_loreal h1 {
    font-size: 30px;
  }
  .s_loreal p {
    font-size: 20px;
  }
  .img_loreal{
    margin-bottom: 40px;
  }
  
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner_text h1 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;
  }
  .banner_text p {
    font-size: 18px;
    text-align: center;
  }
  .brow {
    padding-top: 50px;
  }
  .loreal {
    padding: 60px 0px;
  }
  .s_loreal h1 {
    font-size: 35px;
  }
  .s_loreal p {
    font-size: 20px;
  }
  .img_loreal{
    margin-bottom: 40px;
  }
  
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .banner_text h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 10px;
  }
  .banner_text p {
    font-size: 22px;
    text-align: center;
  }
  .brow {
    padding-top: 50px;
  }
  .loreal {
    padding: 60px 0px;
  }
  .s_loreal h1 {
    font-size: 30px;
/*    text-align: center;*/
  }
  .s_loreal p {
    font-size: 17px;
  }
  .img_loreal{
    margin-bottom: 40px;
  }
  
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/*Extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
  
}

/*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  
}