html,body{
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;
  background: var(--bodyColor);
}
*{
  padding: 0;
  margin: 0;
  
}

:root{
  --commonColor:rgb(13, 88, 249);
  --hoverColor:rgba(214, 214, 214, 0.25);
  --whiteBackgroud:#fff;
  --bodyColor:#f5f5f5;
  --opacityColor:#c0c0c0;
  --fontColor:#444444;
  --bigFontSize:18px;
  --commonFontSize:16px;
  --subCommonFontSize:14px;
  --commonTransition:all 0.3s ease;
  --fontWeightSix:600;
  --dropdownShadow:0px 0px 6px 3px rgba(0,0,0,0.015);

  --infoCard_1: #ff579a;
  --infoCard_1_afterBackground: rgba(255, 87, 154, 0.06);
  --infoCard_1_up_Background: rgba(255, 87, 154, 0.09);
  --infoCard_1_up_Color: rgba(255, 87, 154, 0.5);

  --infoCard_2: #5c60f5;
  --infoCard_2_afterBackground: rgba(92, 96, 245, 0.06);
  --infoCard_2_up_Background: rgba(92, 96, 245, 0.09);
  --infoCard_2_up_Color: rgba(92, 96, 245, 0.5);

  --infoCard_3: #00d4ff;
  --infoCard_3_afterBackground: rgba(0, 212, 255, 0.06);
  --infoCard_3_up_Background: rgba(0, 212, 255, 0.09);
  --infoCard_3_up_Color: rgba(0, 212, 255, 0.5);


  
  --infoCard_4: #ff8c00;
  --infoCard_4_afterBackground: rgba(255, 140, 0, 0.06);
  --infoCard_4_up_Background: rgba(255, 140, 0, 0.09);
  --infoCard_4_up_Color: rgba(0, 212, 255, 0.5);
}